<template>
  <div>
    <h3 v-html="currentQuestion.question"></h3>
      <ul class="answer-container">
        <li class="answer"
          :class="{ selected: answer.answer == currentAnswer.answer }"
          v-for="(answer, index) in currentQuestion.answers"
          :key="index"
          @click="$store.commit('SET_ANSWER', answer)"
          v-html="answer.answer"></li>
      </ul>
      <div class="submit"
        @click="answerQuestion(currentAnswer)">Submit Answer
      </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  mounted() {
    this.loadQuestion();
  },
  methods: {
    loadQuestion() {
      // load a question
    let index = Math.floor(Math.random() * this.questions.length);
    let question = this.questions[index];
    this.$store.commit('LOAD_QUESTION', question);
    // remove the question from the remaining questions
    this.$store.commit('REMOVE_QUESTION', index);
    },
    answerQuestion() {
      // submit answer for processing
      this.$store.commit('ANSWER_QUESTION', this.currentAnswer);
      this.loadQuestion();
    }
  },
  computed: {
    questions() {
      return this.$store.state.questions.questions;
    },
    currentQuestion() {
      return this.$store.state.questions.currentQuestion;
    },
    currentAnswer() {
      return this.$store.state.questions.currentAnswer;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
.answer-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  padding: 16px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 25px;
}
.submit {
  padding: 16px;
  background-color: lightgray;
  border-radius: 25px;
  width: 130px;
  margin: auto;
}
.selected {
  background-color: lightgreen;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
