<template>
  <div id="app">
     <h1>Big Quiz Title</h1>
    <Quiz v-if="$store.state.services.loading === 0 && !finished"/>
    <div v-else>
      <h3>Your Score: {{ score }}</h3>
      <div class="submit"
        @click="reset()">Play Again?
      </div>
    </div>
  </div>
</template>

<script>
import Quiz from './components/Quiz.vue'

export default {
  name: 'app',
  mounted() {
    this.loadQuestions();
  },
  methods: {
    loadQuestions() {
      this.$store.commit('SERVICE_LOADING');
      fetch('/json/data.json').then(response => {
        return response.json()
      }).then(json => {
        this.$store.commit('LOAD_QUESTIONS', json[0].questions);
      }).finally(() => this.$store.commit('SERVICE_FINISHED'));
    },
    reset() {
      this.$store.commit('RESET_QUIZ');
      this.loadQuestions();
    }
  },
  computed: {
    score() {
      return this.$store.state.questions.score;
    },
    finished() {
      return this.$store.state.questions.questions.length === 0;
    }
  },
  components: {
    Quiz
  }
}
</script>

<style>
#app {
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.submit {
  padding: 16px;
  background-color: lightgray;
  border-radius: 25px;
  width: 130px;
  margin: auto;
}
</style>
